<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all users</title>

    <style>

    .all1
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-weight: 600;
        font-size: large;
        color: rgb(61, 61, 133);
    }

    .uu
    {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .yy
    {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: rgb(80, 80, 92);
    }

     .yy > a{
      color: rgb(117, 117, 178);
     }

    </style>
</head>
<body>
  <%- include('./styles/style.ejs') %>
       <div class="all1">

         <div class="uu">
        <span class="material-icons">
          groups
          </span>
       <h1>The helped users are</h1>
      </div>
       <% let all = users  %>

       <ol>
         <% for(let i  = 0;i<all.length ;i++){  %>
           <li><%=all[i].user %></li>
      <% } %>
       <ol>

        <div class="yy">
        <span class="material-icons">
          home
          </span>
        <a class = "but" href = "\home">HOME</a>
      </div>

      </div>
</body>
</html>